body {
    background-color: 
    #dbc4c4;
    text-align: center;
    color: #ca9b9b;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;

}
#main {
    font-family: Arial,sans-serif;
    max-width:500px;
    height:500px;
    align-items: center;
    overflow: hidden;
    background: #fceaea;
    border-radius: 15px;
    border: solid #f5d9d9;
}
#calculator {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 25px;
    gap: 10px;
    background: #fceaea;
    border-radius: 10px;
    
}
button {
    width: 100px;
    height: 50px;
    background-color: #f5d9d9;
    border-radius: 50px;
    font-weight: 2rem;
    font-size: 2rem;
    color: #413333;
    border:none;
    cursor: pointer;

}
#m:hover{
    background-color: #f5d9d9;
}
#op:hover{
    background-color: #f7baba;
}

#inp {
    width: 100%;
    padding: 30px;
    border: none;
    text-align: center;
}
#inp :active {
    border:none;
    cursor: all-scroll;
    
}
#m {
    background-color: #f7baba;
}